---
- name: Skip Route53 if no domain configured
  ansible.builtin.debug:
    msg: "Skipping DNS configuration - no domain or zone ID configured"
  when: not (domain_name | default('')) or not (route53_zone_id | default(''))

- name: Create Route53 A record
  amazon.aws.route53:
    state: present
    zone: "{{ route53_zone_id }}"
    record: "{{ domain_name }}"
    type: A
    ttl: 300
    value: "{{ ec2_public_ip }}"
    overwrite: yes
    wait: yes
  when:
    - domain_name | default('')
    - route53_zone_id | default('')
    - ec2_public_ip | default('')
  register: dns_result

- name: Display DNS result
  ansible.builtin.debug:
    msg: "DNS record created: {{ domain_name }} -> {{ ec2_public_ip }}"
  when:
    - domain_name | default('')
    - route53_zone_id | default('')
    - ec2_public_ip | default('')

- name: Wait for DNS propagation
  ansible.builtin.debug:
    msg: "Note: DNS propagation may take a few minutes. You can check with: dig {{ domain_name }}"
  when:
    - domain_name | default('')
    - route53_zone_id | default('')
